# Ignore everything including subdirectories.
*
!*/

# Git.
!*.gitignore
!*.gitattributes

# C/C++.
!*.cpp
!*.hpp
!*.inl
!*.h
!*.pump
!*.cc
!*.lib
!*.dll

# Shaders.
!*.frag
!*.vert

# Lua.
!*.lua

# Allow other.
!*.md
!premake5.exe

# Allow data
!source/scenes/*
!source/scenes/nlsFinland/*

# Allow external libs
!external/*

# Exclude builds
builds/*